@page
@model PSUtogether.Pages.NewsAdmin.CreateModel
@using Microsoft.AspNetCore.Identity
@using NewsReport.Models


@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager



@{
    ViewData["Title"] = "จัดการติวใหม่";
}

<h2>จัดการติวใหม่</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                คณะ
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="News.TutoringDate" class="control-label"></label>
                <input asp-for="News.TutoringDate" class="form-control" />
                <span asp-validation-for="News.TutoringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายวิชา
                <input asp-for="News.TutoringSubj" class="form-control" />
                <span asp-validation-for="News.TutoringSubj" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อผู้จัดติว(หากทำหลายคนอาจใส่ชื่อทีมหรือชุมนุม)
                <input asp-for="News.TutoringName" class="form-control" />
                <span asp-validation-for="News.TutoringName" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="News.TutoringLocat" class="form-control" />
                <span asp-validation-for="News.TutoringLocat" class="text-danger"></span>
            </div>
            <div class="form-group">
                ช่วงเวลา
                <input asp-for="News.TutoringTime" class="form-control" />
                <span asp-validation-for="News.TutoringTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                ค่าใช้จ่าย
                <input asp-for="News.TutoringMoney" class="form-control" />
                <span asp-validation-for="News.TutoringMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
 โพสโดย: @UserManager.GetUserName(User);
 <input asp-for="News.NewsUserId"
 type="hidden"
 value="@UserManager.GetUserId(User)" />

 </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
