@page
@model PSUtogether.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.NewsCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringSubj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringSubj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringLocat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringLocat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
