@page
@model PSUtogether.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.News.NewsCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringSubj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringSubj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringLocat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringLocat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.TutoringMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.TutoringMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.News.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
