@page
@model PSUtogether.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                คณะ
            </th>
            <th>
                วันที่จัด
            </th>
            <th>
                วิชา
            </th>
            <th>
                ชื่อผู้จัด
            </th>
            <th>
                สถานที่
            </th>
            <th>
                ช่วงเวลา
            </th>
            <th>
                ค่าใช้จ่าย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringSubj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringLocat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutoringMoney)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
