﻿@page
@model IndexModel
@{
 ViewData["Title"] = "ระบบจัดการติว";
}
<div class="jumbotron">
 <center><h2>ระบบจัดการติว PSU</h2><center>
</div>
@foreach (var item in Model.NewsCategory){
 <div class="row">
 <h3>@Html.DisplayFor(model=>item.ShortName)</h3>
 <h4>@Html.DisplayFor(model=>item.FullName)</h4>
 </div>
 <body style="background-color:#BFBDBD ;">
 <div class="row">
 <table class="table">
 <thead>
 <tr>
 <th>วันที่จัด</th><th>วิชาที่จัดติว</th><th>ผู้จัดติว</th><th>ช่วงเวลา</th><th>สถานที่</th><th>ค่าใช้จ่าย</th><th>โพสโดย</th>
 </tr>
 </thead>
 <tbody style="background-color:#EBEDEF;">
 @foreach (var newsItem in Model.News) {
     if(newsItem.NewsCategoryID == item.NewsCategoryID){
 <tr>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringDate)
 </td>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringSubj)
 </td>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringName)
 </td>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringLocat)
 </td>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringTime)
 </td>
 <td>
 @Html.DisplayFor(modelItem =>newsItem.TutoringMoney)
 </td>
  <td>
 @Html.DisplayFor(modelItem =>newsItem.postUser.FirstName)  @Html.DisplayFor(modelItem =>newsItem.postUser.LastName)
 </td>
 </tr>
 }}
 </tbody>
 </table>
 </div>
</body>
}

